name: Get Secrets Info

on:
  workflow_dispatch:

jobs:
  get-secrets:
    runs-on: ubuntu-latest
    permissions:
      contents: write     
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Obtendo Secrets de Organização
        run: |
          count_secret=$(curl -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GHTOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/orgs/${{ github.repository_owner }}/actions/secrets  | jq .total_count)
          secrets=$(curl -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GHTOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/orgs/${{ github.repository_owner }}/actions/secrets  | jq .secrets)

          final_count_secret=$(($count_secret - 1))

          for i in $(seq 0 $final_count_secret)
          do
            linha=$(cat README.md | grep -n "ORG:END" | cut -d: -f1)
            valor=$(echo $secrets | jq .[$i].name | sed 's/"//g')
            sed -i "${linha}i $valor <br>" README.md
          done

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Atualizando README.md"
          commit_options: '--no-verify'
          commit_user_name: arruda-bot
          commit_user_email: bot@arruda.io