name: Get Secrets Info

on:
  workflow_dispatch:

jobs:
  get-secrets:
    runs-on: ubuntu-latest
    permissions:
      contents: write     
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Obtendo Secrets de Organização
        run: |
          count_secret=$(curl -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GHTOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/orgs/${{ github.repository_owner }}/actions/secrets  | jq .total_count)
          secrets=$(curl -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GHTOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/orgs/${{ github.repository_owner }}/actions/secrets  | jq .secrets)

          final_count_secret=$(($count_secret - 1))

          for i in $(seq 0 $final_count_secret)
          do
              nome=$(echo $secrets | jq .[$i].name | sed 's/"//g')
              linha=$(cat README.md | grep -n "ORG:END" | cut -d: -f1)
              verifica_permissao_repo_count=$(curl -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GHTOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/orgs/${{ github.repository_owner }}/actions/secrets/$nome/repositories | jq .total_count)
              verifica_permissao_repo_name=$(curl -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GHTOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/orgs/${{ github.repository_owner }}/actions/secrets/$nome/repositories | jq .repositories)
              verifica_permissao_repo_count_final=$(($verifica_permissao_repo_count - 1))
              exist=false
              for j in $(seq 0 $verifica_permissao_repo_count_final)
              do
                  repo_name=$(echo $verifica_permissao_repo_name | jq .[$j].name | sed 's/"//g')

                  if [ $repo_name == "poc-secrets" ]; then
                      echo "Repositório com permissão: $repo_name"
                      sed -i "${linha}i $nome | Permissão Explicita no Repo <br>" README.md
                      exist=true

                  fi
              done
              if [ $exist == false ]; then
                  sed -i "${linha}i $nome | Sem Permissão Explicita no Repo  <br>" README.md
              fi
              
          done

      - name: Obtendo Secrets de Organização
        run: |
          count_repo_secret=$(curl -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GHTOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/${{ github.repository }}/actions/secrets | jq .total_count)
          repo_secret=$(curl -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GHTOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/${{ github.repository }}/actions/secrets | jq .secrets)

          final_count_repo_secret=$(($count_repo_secret - 1))

          for i in $(seq 0 $final_count_repo_secret)
          do
              nome_repo=$(echo $repo_secret | jq .[$i].name | sed 's/"//g')
              linha=$(cat README.md | grep -n "REPO:END" | cut -d: -f1)
              sed -i "${linha}i $nome_repo  <br>" README.md
          done          

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Atualizando README.md"
          commit_options: '--no-verify'
          commit_user_name: arruda-bot
          commit_user_email: bot@arruda.io